.registerProperty{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.registerPropertyForm{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;

  margin: 90px 0px;
}

.formSection{
  border: none;
  border-bottom: 2px solid var(--text-primary-color);
  padding: 14px 10px;
  width: 100%;
}

.formSection legend{
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--text-primary-color);

  margin-bottom: 20px;
}

.formFields{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;

  font-family: "Roboto", sans-serif;
}

.formFields label{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.formFields label input{
  padding: 8px 5px;
  border-radius: 4px;
  border: 1px solid rgb(119, 119, 119);
  width: 100%;

  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.formFields label textarea{
  padding: 7px 5px;
  border-radius: 4px;
  border: 1px solid rgb(119, 119, 119);
  width: 100%;

  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.formFields label select{
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 0.8rem;
  width: auto;
  border: none;
}

.propertyImagesInput input{
  font-size: 0.9rem;
}

.propertyDifferentiatorsLabels{
  gap: 10px;
}

.propertyDifferentiatorsLabels label{
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
}

.propertyDifferentiatorsLabels label input{
  width: auto;
  padding: 9px;
}

.optionsForm{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.buttonSave{
  width: 45%;
  text-align: center;
  padding: 10px 0px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgb(0, 79, 197);
  color: white;
  border: none;
  cursor: pointer;
}

.linkToListing{
  width: 45%;
  padding: 10px 0px;
  font-size: 1rem;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 98, 98);
}

@media (min-width: 800px) {
  .registerPropertyForm{
    width: 1000px;
    margin: 90px 50px;
  }

  .formSection legend{
    font-size: 1.4rem;
  }
}
