.container{
    background-color: var(--secondary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.registerInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--text-primary-color);
}

.registerInfo h1{
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
}

.registerInfo p{
    width: 85%;
    text-align: center;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

.registerFormContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

.registerFormContainer p{
    color: var(--text-primary-color);
    font-family: "Roboto", sans-serif;
}

.linkToLogin{
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: none;
}

.registerForm{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 40px 20px;
    border-radius: 10px;
}

.registerFormInputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.registerFormInputs label{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--text-primary-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    gap: 3px;
}

.registerFormInputs label input{
    background-color: var(--secondary-color);
    border: 2px solid var(--text-primary-color);
    border-radius: 5px;
    padding: 7px;
    outline: none;
    font-size: 1rem;
}

.submitButton{
    font-family: "Montserrat", sans-serif;
    background-color: var(--emphasis);
    width: 100%;
    padding: 10px;
    border-radius: 18px;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

@media (min-width: 700px){
    .registerForm{
        max-width: 500px;
    }
}