.div{
    width: 100;

    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  background-color: var(--secondary-color);
}

.div img{
    width: 100%;
}