.container{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 40px 0px;
   position: relative;
}

.containerBlack {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 0px;
  position: relative;
}

/* overlay escuro */
.containerBlack::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* escurece 50% */
  z-index: 5; 

  opacity: 0;
   animation: fadeIn 0.5s ease forwards;


}

.listingHeader{
   width: 90%;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2px solid var(--primary-color);
}

.listingHeader h2{
   font-size: 1.1rem;
   font-family: "Montserrat", sans-serif;
}

.linkToCreate{
   background-color: var(--primary-color);
   color: var(--text-secondary-color);
   padding: 4px 10px;
   border: none;
   border-radius: 5px;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 0.9rem;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 6px;
   cursor: pointer;
   text-decoration: none;
}

.createButtonIcon{
   font-size: 0.7rem;
}

.myListing{
   width: 90%;
   text-align: center;
   padding-top: 30px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.myListing p{
   color: rgb(83, 83, 83);
   font-family: "Roboto", sans-serif;
}

.card{
   width: 90%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   border: 1px solid var(--primary-color);
   gap: 10px;
   padding: 10px;

   box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.cardImage{
   width: 100%;
   height: 200px;
   border: 2px solid var(--primary-color);
   border-radius: 10px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.cardImage img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   border-radius: 7px;
}

.imageIcon{
   font-size: 2rem;
}

.cardContent{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 20px;
}

.cardContent h2{
   font-size: 1.1rem;
   font-family: "Montserrat", sans-serif;
}

.cardDetails ul{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 3px;
}

.cardDetails ul li{
   list-style-type: none;
   font-size: 0.9rem;
   font-family: "Roboto", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 9px
}

.cardDetails ul li span{
   font-weight: bold;
}

.cardActions{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.linkToEdit{
  padding: 5px 20px;
  font-size: 1rem;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color)
}

.buttonDelete{
   padding: 5px 20px;
  font-size: 1rem;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 98, 98);
  border: none;
}

.deleteModal{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1300;
   background-color: white;
   border: 2px solid var(--primary-color);
   border-radius: 8px;
   padding: 30px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 10px;

   opacity: 0;
   animation: fadeIn 0.5s ease forwards;
}

.deleteModal p{
   font-size: 1rem;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
}

.deleteModalActions{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
}

@keyframes fadeIn {
   to{
      opacity: 1;;
   }
}

@media (min-width: 720px) {
   .listingHeader{
      width: 85%;
      padding: 10px 30px;
   }

   .card{
      flex-direction: row;
      gap: 18px;
   }

   .cardImage{
      height: 210px;
   }
}

@media (min-width: 1020px) {
   .listingHeader{
      max-width: 1000px;
   }

   .card{
      max-width: 900px;
   }
}