.header {
  position: fixed;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 17px 15px;

  box-shadow: 0 1px 10px 6px rgba(0, 0, 0, 0.3);

  background-color: var(--secondary-color);
}

.brandBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand h1 {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;

  color: var(--text-primary-color);
}

.brandActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  padding-left: 20px;

  border-left: 2px solid gray;
}

.brandActionsButton {
  border: none;

  background: none;

  font-size: 1.2rem;

  color: var(--text-primary-color);
}

.nav {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;

  width: 70%;
  height: calc(100vh - 58px);

  border: 2px solid var(--primary-color);
  border-right: none;

  background-color: var(--secondary-color);

  font-family: "Roboto", sans-serif;

  opacity: 0;
  transform: translateX(100%);
  transition: 0.5s ease;

  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.navOpen {
  opacity: 1;
  transform: translateX(0px);
}

.authMobile {
  display: flex;
  align-items: center;
  gap: 10px;

  margin: 1px;

  padding: 10px 15px;

  border-bottom: 2px solid var(--primary-color);

  background-color: var(--primary-color);

  border-top-left-radius: 4px;
}

.userImage {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border: 2px solid var(--secondary-color);
  border-radius: 100%;

  background-color: var(--primary-color);

  color: var(--text-secondary-color);
}

.authMobileEnter {
  padding: 2px 5px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;

  color: var(--text-secondary-color);
  text-decoration: none;
}

.authMobileInfos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.authMobileInfos h2 {
  font-size: 1rem;

  color: var(--text-secondary-color);
}

.authMobileInfos p {
  font-size: 0.8rem;

  color: var(--text-secondary-color);
}

.userName {
  color: var(--text-secondary-color);
}

.navBarLinks {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;

  padding: 15px 0;
}

.navBarLink {
  padding: 6px 15px;

  font-size: 1rem;
  font-weight: 400;

  color: var(--text-tertiary-color);
  text-decoration: none;
}

.navBarLinkIcon {
  font-size: 0.8rem;

  color: #444;
}

.userActions {
  padding: 10px 15px;

  border-top: 2px solid var(--primary-color);
}

.userExit {
  border: none;

  background: none;

  font-size: 1rem;

  color: var(--text-primary-color);
  text-decoration: none;
}

.authActions {
  display: none;
}

@media (min-width: 700px) {
  .header {
    padding: 17px 40px;
  }

  .nav {
    width: 50%;
  }
}

@media (min-width: 1020px) {
  .header {
    display: grid;
    align-items: center;

    padding: 15px 30px;

    grid-template-columns: 2fr auto 2fr;
  }

  .brand {
    justify-self: start;
  }

  .brandActions {
    display: none;
  }

  .authMobile {
    display: none;
  }

  .nav {
    position: static;

    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: auto;

    padding: 0;

    border: none;

    opacity: 1;
    transform: translateX(0px);

    justify-self: center;
  }

  .navBarLinks {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 0;
  }

  .navBarLink {
    padding: 2px;

    transition: 0.3s ease;
  }

  .navBarLink:hover {
    transform: scale(1.08);
  }

  .navBarLinkAds {
    display: none;
  }

  .userActions {
    display: none;
  }

  .authActions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    justify-self: end;
  }

  .authEnter {
    padding: 4px 10px;

    border-radius: 10px;

    background-color: var(--primary-color);

    font-size: 1rem;
    font-family: "Roboto", sans-serif;

    color: var(--text-secondary-color);
    text-decoration: none;
  }

  .authRegister {
    padding: 2px 10px;

    border: 2px solid var(--primary-color);
    border-radius: 10px;

    background-color: var(--secondary-color);

    font-size: 1rem;
    font-family: "Roboto", sans-serif;

    color: var(--primary-color);
    text-decoration: none;
  }

  .firstLetterUser {
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;

    font-style: italic;
  }

  .userAvatar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;

    border: 2px solid var(--primary-color);
    border-radius: 50%;

    background-color: rgb(151, 200, 255);

    cursor: pointer;
  }

  .userAvatarIcon {
    border-radius: 100%;
  }

  .userMenu {
    position: absolute;
    top: 115%;
    right: 1%;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    padding: 20px 20px;

    border: 2px solid var(--primary-color);
    border-radius: 10px;

    background-color: var(--secondary-color);
  }

  .userMenuOpen {
    display: flex;
  }

  .userInfos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding-bottom: 5px;

    border-bottom: 2px solid var(--text-primary-color);
  }

  .userInfo h2 {
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
  }

  .userInfo p {
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
  }

  .userOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;

    width: 100%;
  }

  .linkToAccount {
    padding: 5px;

    border-radius: 10px;

    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;

    transition: 0.2s ease;

    color: var(--text-primary-color);
    text-decoration: none;
  }

  .linkToListing {
    padding: 5px;

    border-radius: 10px;

    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;

    transition: 0.2s ease;

    color: var(--text-primary-color);
    text-decoration: none;
  }

  .userOptions button {
    margin-top: 20px;

    padding: 5px;

    border: none;
    border-radius: 10px;

    background: none;

    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;

    transition: 0.2s ease;

    color: var(--text-primary-color);
    cursor: pointer;
  }

  .linkToAccount:hover {
    background-color: #ddd;
  }

  .linkToListing:hover {
    background-color: #ddd;
  }

  .userOptions button:hover {
    background-color: #ddd;
  }
}
