.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 17px 15px;
  border-bottom: 2px solid var(--text-primary-color);
}

.brandBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand h1 {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;

  color: var(--text-primary-color);
}

.brandActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-left: 20px;
  border-left: 2px solid gray;
}

.brandActionsButton {
  border: none;
  background: none;
  font-size: 1.2rem;
  color: var(--text-primary-color);
}

.nav {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: calc(100vh - 60px);
  border: 2px solid var(--primary-color);
  border-right: none;
  background-color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  opacity: 0;
  transform: translateX(100%);
  transition: 0.5s ease;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.navOpen {
  opacity: 1;
  transform: translateX(0px);
}

.authMobile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 1px;
  padding: 10px 15px;
  border-bottom: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  border-top-left-radius: 6px;
}

.userImage {
  padding: 7px;
  border: 2px solid var(--secondary-color);
  border-radius: 100%;
  color: var(--text-secondary-color);
}

.authMobileEnter {
  padding: 2px 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--text-secondary-color);
  text-decoration: none;
}

.navBarLinks {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  padding: 15px 15px;
}

.navBarLink {
  font-size: 1rem;
  font-weight: 450;

  color: var(--text-tertiary-color);
  text-decoration: none;
}

.userActions {
  padding: 10px 15px;
  border-top: 2px solid var(--primary-color);
}

.userExit {
  border: none;
  background: none;
  font-size: 1rem;
  color: var(--text-primary-color);
  text-decoration: none;
}

.authActions {
  display: none;
}

@media (min-width: 700px) {
  .header {
    padding: 14px 40px;
  }

  .nav {
    width: 50%;
  }
}

@media (min-width: 1020px) {
  .header {
    display: grid;
    align-items: center;
    padding: 10px 30px;
    grid-template-columns: 2fr auto 2fr;
  }

  .brand {
    justify-self: start;
  }

  .brandActions {
    display: none;
  }

  .authMobile {
    display: none;
  }

  .nav {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

    padding: 0;
    border: none;
    opacity: 1;
    transform: translateX(0px);
    justify-self: center;
  }

  .navBarLinks {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .navBarLink {
    transition: 0.3s ease;
  }

  .navBarLink:hover {
    transform: scale(1.08);
  }

  .userActions {
    display: none;
  }

  .authActions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    justify-self: end;
  }

  .authEnter {
    padding: 4px 10px;
    border-radius: 10px;
    background-color: var(--primary-color);
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: var(--text-secondary-color);
    text-decoration: none;
  }

  .authRegister {
    padding: 2px 10px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    text-decoration: none;
  }

  .userProfileIcon {
    padding: 6px 5px;
    border: 2px solid var(--primary-color);
    border-radius: 100%;
  }

  .userProfile:hover .userProfileOptions {
    display: flex;
    flex-direction: column;
  }

  .userProfileOptions {
    position: absolute;
    top: 110%;
    right: 10px;
    display: none;
    padding: 10px 30px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
}
